[mariadb]
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci

#datadir = /home/<username>/.local/state/mysql
#pid-file = /run/user/60466/mysqld/mysqld.pid

#ssl_ca=
#ssl_cert=
#ssl_key=

bind-address = 127.0.0.1,::1

require_secure_transport=ON

[mariadb-client]
default-character-set = utf8mb4

