[client]
default-character-set = utf8mb4

[mariadb]
datadir = /home/user/.local/state/mysql
skip-networking
collation_server = utf8mb4_unicode_ci
character_set_server = utf8mb4

[mariadb-client]
default-character-set = utf8mb4
