[mariadb]
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci

datadir = /home/malwareslayer/.local/state/mysql
pid-file = /run/user/60466/mysqld/mysqld.pid

ssl_ca=/home/malwareslayer/.config/letsencrypt/live/mariadb.malwareslayer.home.arpa/chain.pem
ssl_cert=/home/malwareslayer/.config/letsencrypt/live/mariadb.malwareslayer.home.arpa/fullchain.pem
ssl_key=/home/malwareslayer/.config/letsencrypt/live/mariadb.malwareslayer.home.arpa/privkey.pem

bind-address = 127.0.0.1,::1,fc93:825a:fa8a:e6d2:4cea:dead:c0de:5432

require_secure_transport=ON

[mariadb-client]
default-character-set = utf8mb4

