[Unit]
Description=Synchronize Cache
Before=graphical.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/usr/bin/rsync -a /var/user/malwareslayer/AMD/ /home/malwareslayer/.cache/AMD
ExecStart=/usr/bin/rsync -a /var/user/malwareslayer/fontconfig/ /home/malwareslayer/.cache/fontconfig
ExecStart=/usr/bin/rsync -a /var/user/malwareslayer/mesa_shader_cache/ /home/malwareslayer/.cache/mesa_shader_cache
ExecStart=/usr/bin/rsync -a /var/user/malwareslayer/mesa_shader_cache_db/ /home/malwareslayer/.cache/mesa_shader_cache_db
ExecStart=/usr/bin/rsync -a /var/user/malwareslayer/radv_builtin_shaders/ /home/malwareslayer/.cache/radv_builtin_shaders
ExecStart=/usr/bin/rsync -a /var/user/malwareslayer/shadercache/ /var/user/malwareslayer/steam/steamapps/shadercache

ExecStop=/usr/bin/rsync -a /dev/shm/AMD/ /var/user/malwareslayer/AMD
ExecStop=/usr/bin/rsync -a /dev/shm/fontconfig/ /var/user/malwareslayer/fontconfig
ExecStop=/usr/bin/rsync -a /dev/shm/mesa_shader_cache/ /var/user/malwareslayer/mesa_shader_cache
ExecStop=/usr/bin/rsync -a /dev/shm/mesa_shader_cache_db/ /var/user/malwareslayer/mesa_shader_cache_db
ExecStop=/usr/bin/rsync -a /dev/shm/radv_builtin_shaders/ /var/user/malwareslayer/radv_builtin_shaders
ExexStop=/usr/bin/rsync -a /dev/shm/shadercache/ /var/user/malwareslayer/shadercache

[Install]
WantedBy=default.target

