[Unit]
Description=Pydio Cells is the nextgen file sharing platform for organizations
After=network.target

[Service]
Type=simple

# Environment=CELLS_CONFIG=etcd://127.0.0.1:2379/config
# Environment=CELLS_VAULT=etcd://127.0.0.1:2379/vault
# Environment=CELLS_REGISTRY=etcd://127.0.0.1:2379/registry
# Environment=CELLS_KEYRING=vault://127.0.0.1:8200/secret?key=master
# Environment=CELLS_CERTS_STORE=vault://127.0.0.1:8200/certs
# Environment=CELLS_CACHE=redis://127.0.0.1:6432

Environment=VAULT_TOKEN=""

ExecStart=/usr/bin/cells start --config=etcd://127.0.0.1:2379 --registry=etcd://127.0.0.1:2379 --keyring=vault://127.0.0.1:8200/secrets?key=master --certs_store=vault://127.0.0.1:8200/certs --cache=redis://127.0.0.1:6379

Restart=on-failure
RestartSec=32s

TimeoutStartSec=60
TimeoutStopSec=60

ProtectSystem=full

LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true

RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

[Install]
WantedBy=default.target

