[Unit]
Description=Cloudflare Argo Tunnel
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=notify

ExecStart=/usr/bin/cloudflared tunnel --http2-origin --url http://127.0.0.1:3000

Restart=on-failure
RestartSec=32

TimeoutStartSec=128
TimeoutStopSec=128

AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN

LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

[Install]
WantedBy=default.target

