[Unit]
Description=marimo is an open-source reactive Python notebook
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=exec

WorkingDirectory=/home/user/Marimo

ExecStart=/home/user/.local/share/conda/envs/3.11/bin/python -m marimo edit \
	--no-token \
	--headless \

Restart=on-failure
RestartSec=4

TimeoutStartSec=128
TimeoutStopSec=64

PrivateTmp=true
PrivateDevices=true

ProtectSystem=full

LockPersonality=true
MemoryDenyWriteExecute=false
NoNewPrivileges=true

RestrictAddressFamilies=AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

[Install]
WantedBy=default.target

