[Unit]
Description=MariaDB 11.6.2 database server
Documentation=man:mariadbd(8)
Documentation=https://mariadb.com/kb/en/library/systemd/
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=notify

StateDirectory=mysql
StateDirectoryMode=0700

Environment="LD_PRELOAD=/usr/lib/libjemalloc.so"

ExecStart=/usr/bin/mariadbd

KillSignal=SIGTERM
SendSIGKILL=no

Restart=on-failure
RestartSec=32s

TimeoutStartSec=1024
TimeoutStopSec=1024

UMask=007

OOMScoreAdjust=-200

AmbientCapabilities=CAP_SYS_RESOURCE CAP_IPC_LOCK CAP_SYS_NICE CAP_DAC_OVERRIDE CAP_AUDIT_WRITE

ProtectSystem=full

PrivateTmp=true

LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

[Install]
WantedBy=default.target

