[Unit]
Description=MariaDB
Documentation=man:mariadbd(8)
Documentation=https://mariadb.com/kb/en/library/systemd/
BindsTo=sys-devices-virtual-net-mariadb0.device
After=network.target network-online.target zerotier-one.service sys-devices-virtual-net-mariadb0.device
Wants=network-online.target zerotier-one.service sys-devices-virtual-net-mariadb0.device

[Service]
Type=notify

StateDirectory=mysql
StateDirectoryMode=0700

Environment="LD_PRELOAD=/usr/lib/libjemalloc.so"

ExecStartPre=/usr/bin/fping --ipv6 "mariadb.$USER.home.arpa" --count 1 --timeout 64
ExecStart=/usr/bin/mariadbd

KillSignal=SIGTERM
SendSIGKILL=no

Restart=on-failure
RestartSec=4

TimeoutStartSec=128
TimeoutStopSec=64

UMask=007

OOMScoreAdjust=-200

SecureBits=keep-caps
CapabilityBoundingSet=CAP_IPC_LOCK
AmbientCapabilities=CAP_IPC_LOCK

ProtectSystem=full
PrivateTmp=true

LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

[Install]
WantedBy=default.target

