[Unit]
Description=PostgreSQL database server
Documentation=man:postgres(1)
BindsTo=sys-devices-virtual-net-postgresql0.device
After=network.target network-online.target zerotier-one.service sys-devices-virtual-net-postgresql0.device
Wants=network-online.target zerotier-one.service sys-devices-virtual-net-postgresql0.device

[Service]
Type=notify

Environment=PGROOT=%h/.local/state/postgres

StateDirectory=postgres
StateDirectoryMode=0700

RuntimeDirectory=postgresql
RuntimeDirectoryMode=0700

PIDFile=%h/.local/state/postgres/data/postmaster.pid

ExecStartPre=/usr/bin/fping --ipv6 postgresql.user.home.arpa --count 1 --timeout 64
ExecStartPre=/usr/bin/postgresql-check-db-dir ${PGROOT}/data
ExecStart=/usr/bin/postgres -D ${PGROOT}/data
ExecReload=/bin/kill -HUP ${MAINPID}

Restart=on-failure
RestartSec=4

TimeoutStartSec=128
TimeoutStopSec=64

KillMode=mixed
KillSignal=SIGINT

OOMScoreAdjust=-200

PrivateTmp=true
PrivateDevices=true

ProtectControlGroups=true
ProtectKernelModules=true
ProtectKernelTunables=true
ProtectSystem=full

LockPersonality=true
NoNewPrivileges=true

RestrictAddressFamilies=AF_UNIX AF_INET AF_INET6
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

[Install]
WantedBy=default.target

