[Unit]
Description=Pydio Cells is the nextgen file sharing platform for organizations
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/cells start
Restart=on-failure
RestartSec=32s

[Install]
WantedBy=default.target

