[Unit]
Description=ZeroTier One
After=network.target network-online.target
Wants=network-online.target

[Service]
Type=exec

StateDirectory=zerotier-one
StateDirectoryMode=0700

ExecStart=/usr/bin/zerotier-one -U %h/.local/state/zerotier-one

Restart=on-failure
RestartSec=4

TimeoutStartSec=128
TimeoutStopSec=64

SecureBits=keep-caps
CapabilityBoundingSet=CAP_NET_RAW CAP_NET_ADMIN CAP_NET_BIND_SERVICE
AmbientCapabilities=CAP_NET_RAW CAP_NET_ADMIN CAP_NET_BIND_SERVICE

DeviceAllow=/dev/net/tun

LockPersonality=true
MemoryDenyWriteExecute=true
NoNewPrivileges=true

RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictNamespaces=true
RestrictRealtime=true
RestrictSUIDSGID=true

[Install]
WantedBy=default.target

